body {
  background-color: #f6f6f6;
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  width: 50%;
  margin: 25px auto;
  padding: 30px;

  background-color: white;
  color: #333;
  box-shadow: 0 1px 2px #777;
}

header {
  display: block;
  overflow: hidden;
  padding: 10px;
  background-color: #EB6E80;
  color: white;
}

header a, header a:visited {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  vertical-align: middle;
}

h1,h2,h3 {
  font-weight: 500;
}

p {
  font-size: 17px;
  line-height: 1.4;
}

ul, ol {
  font-size: 17px;
  line-height: 1.4;
}

pre, code {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 16px;
}

code {
  padding: 2px;
  border-radius: 1px;
  font-weight: 500;
  background-color: #eaeaea;
  color: black;
}

pre {
  padding: 5px;
  background-color: #eee;
  line-height: 1.4;
}

pre code {
  background-color: rgba(0,0,0,0);
}

a, a:visited {
  color: #008F95;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

table {
  display: table;
  width: 75%;
  margin: 15px auto;
  border-collapse: collapse;
  overflow-x: auto;
}

table, td {
  border: 1px solid #999;
}

th {
  background-color: #F19F4d;
  color: white;
  border: 1px solid #333;
}

th, td {
  padding: 10px;
}

img {
  display: block;
  width: 75%;
  height: auto;
  margin: 15px auto;
}

blockquote {
  border-left: 3px solid #F19F4d;
  padding-left: 15px;
}

.conceptdemo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.conceptdemo form label {
  vertical-align: top;
}

.conceptdemo form input {
  margin: auto 5px auto 15px;
}

.conceptdemo form input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

@import 'admonition';
@import 'navbuttons';
@import 'rendersvg';
@import 'codetabs';
